{
  "extends": "eslint:recommended",
  "env": {
    "browser": false,
    "es6": true,
    "node": true,
    "amd": false,
    "mocha": false,
    "jasmine": false
  },

  "globals": {
    "RED": true
  },

  "rules": {
    "no-unused-vars": 1,
  }
}
